<h1>Eventos</h1>


<% event.forEach((e) => { %>

    <p><%= e.name %></p>
    <p><%= e.description %></p>
    <a href="/event/show/<%= e._id %>/edit"><button>Editar Evento</button></a>
    <a href="/event/show/<%= e._id %>/delete"><button>Borrar Evento</button></a>
    <hr>
<% }) %>

<a href="/event/showme" class="btn btn-default btn-lg" role="button">Mis Eventos</a>
<a href="/event/new" class="btn btn-default btn-lg" role="button">Crear Evento</a>