<form id="form" action="/task/<%= event._id %>/new" method="POST">
    
    <label for="task">Task</label>
    <br>
    <input type="text" name="name" placeholder="">
  
    <br>
    <br>
    <label for="description">Description</label>
    <br>
    <input type="text" name="description" placeholder="">
    <br>
    <br>
  
    <br>
    <br>
    <label for="status">Status</label>
    <br>
    <input type="text" name="status" placeholder="">
    <br>
    <br>
  
    <button>Create task</button>
    <button>Edit task</button>
  </form>